html,
body {
  height: 100%;
  margin: 0;
}

.box {
  padding-left: 300px;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box header {
  width: 100%;
}

.box main {
  flex: 1 1 auto;
  height: auto;
}

.search-wrapper {
  position: relative;
  width: 80%;
  margin: auto;
  color: #777;
}

.search-wrapper i.material-icons {
  position: absolute;
  top: 1rem;
  right: 10px;
}

.search-results > span.vis-hidden {
  opacity: 0;
}

.search-results > span.hidden {
  display: none;
}

.search-results > span {
  display: block;
  text-align: center;
  margin: 1em;
  border-bottom: 1px dashed #e0e0e0;
  transition: opacity 0.2s;
}

img.circle {
  max-width: 25vw;
}

.nav-footer {
  width: 100%;
  position: absolute;
  bottom: 3em;
}

@media only screen and (max-width: 992px) {
  .box {
    padding-left: 0;
  }
  .nav-footer {
    bottom: 0;
    position: relative;
    transform: translateY(-25%);
  }
}
